:root{
    --colorMain: #3C8DBB;
    --colorMainBlack: #367FA6;
    --colorSecundary: #2D3C42;
    --colorSecundaryBlack: #222D30;
    --colorRed: #DA4E3B;
    --colorRedBlack: #e4412b;
    --colorWhite: #ffffff;
}


.btn-main {
    color: var(--colorWhite);
    background-color: var(--colorMain);
    padding: 8px 15px;
    border-radius: 10px;
    cursor: pointer;
    border: none;
    transition: 0.5s;
}

.btn-main-red {
    color: var(--colorWhite);
    background-color: var(--colorRed);
    padding: 8px 15px;
    border-radius: 10px;
    cursor: pointer;
    border: none;
    transition: 0.5s;
}
.btn-main:hover{
    color: var(--colorWhite);
    background-color: var(--colorMainBlack);
}

.btn-main-red:hover{
    color: var(--colorWhite);
    background-color: var(--colorRedBlack);
}