:root{
    --colorMain: #3C8DBB;
    --colorMainBlack: #367FA6;
    --colorSecundary: #2D3C42;
    --colorSecundaryBlack: #222D30;
    --colorRed: #DA4E3B;
    --colorWhite: #ffffff;
}

/* Globales */
*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    text-decoration: none;
    list-style: none;
    color: var(--colorMainBlack);
}

.header{
    background-color: var(--colorMain);
    padding: 21px;
}
.header__left{
    color: var(--colorWhite);
}