:root{
    --colorMain: #3C8DBB;
    --colorMainBlack: #367FA6;
    --colorSecundary: #2D3C42;
    --colorSecundaryBlack: #222D30;
    --colorRed: #DA4E3B;
    --colorWhite: #ffffff;
}

.point-of-sale{
    margin: 50px;
    display: grid;
    grid-template-rows: 11fr 1fr;
    height: calc(100vh - 135px);
    gap: 20px;
    width: 100%;
}
.pos-content{
    display: grid;
    grid-template-columns: 2fr 1fr 3fr;
    gap: 20px;
}
.pos-categories{    
    box-shadow: 0px 1px 10px 0px rgba(158, 131, 131, 0.5);
   -webkit-box-shadow: 0px 1px 10px 0px rgba(158 ,131, 131, 0.5);
   -moz-box-shadow: 0px 1px 10px 0px rgba(158, 131, 131, 0.5);
   height: calc(100vh - 200px);
   overflow: scroll;
   text-align: center;
   min-width: 150px;
}
.pos-cateogories-grilla{
    display: flex;
    flex-direction: column;
    gap: 10px;
}
.pos-category{
    text-align: center;
    cursor: pointer;
    position: relative;
}
.pos-category__title{
    margin: 0;
    position:absolute;
    bottom: 0;
    background-color: var(--colorMain);
    color: var(--colorWhite);
    width: 100%;
    padding: 2px 0px;
}
/* .pos-category h5{
    margin: 0;
} */
.pos-category img{
    width: 100%;
    height: 150px;
    object-fit: cover;
   /*  padding: 0px 10px; */
    pointer-events: none;
}
.pos-products{
    box-shadow: 0px 1px 10px 0px rgba(158, 131, 131, 0.5);
    -webkit-box-shadow: 0px 1px 10px 0px rgba(158 ,131, 131, 0.5);
    -moz-box-shadow: 0px 1px 10px 0px rgba(158, 131, 131, 0.5);
   /*  overflow: scroll; */
   height: calc(100vh - 200px);
   overflow: scroll;
   min-width: 150px;
}
.pos-title-contenedor{
    text-align: center;
    margin: 15px 0px 10px 0px;
    font-weight: 600;
}
.pos-products-flex{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
.pos-product{
    width: 200px;
    padding: 0px 10px;
    text-align: left;
    cursor: pointer;
}
.pos-product h5{
    margin: 0;
    font-weight: 400;
}
.pos-product span{
    font-weight: 600;
}
.pos-product p{
    color: #777;
}
.pos-product img{
    width: 100%;
    height: 200px;
    object-fit: contain;
    pointer-events: none;
}

.pos-pay{
    display: flex;
    justify-content: space-between;
    box-shadow: 0px 1px 10px 0px rgba(158, 131, 131, 0.5);
    -webkit-box-shadow: 0px 1px 10px 0px rgba(158 ,131, 131, 0.5);
    -moz-box-shadow: 0px 1px 10px 0px rgba(158, 131, 131, 0.5);
}
.pos-pay__coins{    
    display: flex;
    gap: 5px;
}

.pos-pay__btns{
    display: flex;
    gap: 5px;
}

.pos-acount__header{
    display: flex;
    align-items: center;
    gap: 5px;
    padding: 10px;
}
.pos-acount-row{
   /*  box-shadow: 0px 1px 10px 0px rgba(158, 131, 131, 0.5);
    -webkit-box-shadow: 0px 1px 10px 0px rgba(158 ,131, 131, 0.5);
    -moz-box-shadow: 0px 1px 10px 0px rgba(158, 131, 131, 0.5); */
}
.btns-quantity{
    display: flex;
}
.btns-quantity button{
    border: none;
    background-color: transparent;
    cursor: pointer;
}
.pos-acount__scroll{
    height: calc(100vh - 250px);
    overflow: scroll;
}
.pos-acount__table{
    width: 100%;
}

table {
    width: 100%;
    border-collapse: collapse;
    border-spacing: 0;
    font-size: 16px;
    font-weight: 500;
    color: #444;
    margin: 5px 0;
  }
  
  th {
    text-align: left;
    background-color: #f5f5f5;
    color: #777;
    padding: 10px;
    border-bottom: 1px solid #ddd;
  }
  
  td {
    text-align: left;
    padding: 10px;
    border-bottom: 1px solid #ddd;
  }
  
  tr:nth-child(even) {
    background-color: #f2f2f2;
  }
  
/*   tr:hover {
    background-color: #f5f5f5;
  } */
  
  td:last-child {
    text-align: center;
  }
.pos-acount__footer{
    display: flex;
    justify-content: space-between;
}